@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: f2f2f2;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

p {
  margin: 0 0 15px 0;
}

.test {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
  background-color: #f2f2f2;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  position: relative;
  position: absolute;
  user-select: none;

  width: 25px;
  height: 25px;
  border-radius: 100%;
  cursor: pointer;
  background-color: tomato;

    @media (max-width: 686px) {
      right: 10px;
  }
}


